main {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: auto;
  padding: 40px 20px;
  gap: 100px;
  align-items: center;
}
main h1 {
  font-size: 4.5rem;
  position: relative;
  line-height: 1.125;
  margin-bottom: 30px;
  align-self: center;
  
}
.titulo h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("/img/detalhe.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

main img {
 height: auto;
}
.titulo {
  align-self: center;
}
.titulo p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 1000px){
  .titulo h1{
    font-size: 3.5rem;
  }
}
@media (max-width: 800px){
  .titulo h1{
    font-size: 2rem;
  }
  .conteiner-main{
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .titulo h1::before{
    top: -10px;
    left: 0px;
    width: 30px;
    height: 10px;
  }
}
@media (max-width: 400px){

  .conteiner-main img{
    display: none;
  }
}